.flag-frenzy {
    text-align: center;
    padding: 2rem;
  }
  
  .flag-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
  }
  
  .options label {
    margin-bottom: 0.5rem;
  }
  
  .actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  